{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'style.css' %}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fullcalendar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lang/ja.js' %}"></script>
<head>
        <meta charset="utf-8">
        <title>{% block title %}カレンダーサンプル{% endblock %}</title>
    </head>

    <body>
        <main>
        {% block content %}
        {% endblock %}
        </main>
    </body>

