{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!
<p>カレンダはここに書いてあるよ！</p>
<script>
    // ページ読み込み時の処理
    $(document).ready(function () {

    // カレンダーの設定
    $('#calendar').fullCalendar({
       height: 550,
       lang: "ja",
       header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
       },
       timeFormat: 'HH:mm',
       selectable: true,
       selectHelper: true,
       navLinks: true,
       eventSources: [{
          url: 'http://localhost:8080/getCalendar',
          dataType: 'json',
          async: false,
          type : 'GET',
          error: function() {
             $('#script-warning').show();
          }
       }],
       select: function(start, end, resource) {
          var title = prompt("予定タイトル:");
          var eventData;
          if (title) {
             eventData = {
                title: title,
                start: start,
                end: end,
                allDay: true
             };
             $('#calendar').fullCalendar('renderEvent', eventData, true);

             $.ajax({
                url: "http://localhost:8000/regist",
                type: "POST",
                data: JSON.stringify(eventData),
                success: function(jsonResponse) {
                   alert("予定を登録しました。")
                },
                error: function() {
                }
             });
          }
          $('#calendar').fullCalendar('unselect');
          },
          editable: true,
          eventLimit: true,
       });
    });
 </script>
 <div id='calendar'></div>
<p><a href="{% url 'logout' %}">ログアウト</a></p>
<p><a href="{% url 'password_change' %}">パスワード最設定</p></a></p>
{% else %}
<p>E407室の予約システムへようこそ！</p>
<p>あなたはまだログインしないです</p>
<a href="{% url 'login' %}">ログイン</a>
{% endif %}
{% endblock %}
